# build output
dist/*
!dist/
!dist/**
.output/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

*.zip
node_modules
